/* styles.css */

.toast {
    visibility: hidden; /* Hidden by default */
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 17px;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.5s, visibility 0.5s, bottom 0.5s;
    font-family: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Show the toast */
.toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
}


.gallery-item {
    position: relative; 
}

.badge{
    background: linear-gradient(135deg, #ff6f61, #d8345f);
    position: absolute;
    top: 15px; 
    right: 15px; 
    color: #191919;
    padding: 8px 15px; 
    border-radius: 25px; 
    font-size: 14px; 
    font-weight: bold; 
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
    font-family: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
}
.badge2{
    background: linear-gradient(135deg, #61ff6e, #a1d834); 
   position: absolute;
    top: 15px; 
    right: 15px; 
    color: #191919;
    padding: 8px 15px; 
    border-radius: 25px; 
    font-size: 14px; 
    font-weight: bold; 
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
    font-family: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
}

.blur {
    filter: blur(5px); /* Adjust blur amount as needed */
    transition: filter 0.3s ease; /* Smooth transition for the blur effect */
}


.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme {
    background-color: #1a1a1a !important;
    color: #ffffff;
}
.watermark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    background-image: url('watermark.png');
    background-repeat: repeat;
    opacity: 0.3;
}

.gallery-item {
    position: relative;
  }

  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .badge-info {
    display: none;
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: rgba(245, 244, 244, 0.8);
    color: rgb(27, 27, 27);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    width: 100%;
  }


  .badge:hover .badge-info {
    display: block;
  }

  .gallery-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
  }

  .gallery-item {
    position: relative;
  }
  
  .lock-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6); /* Dark background for better visibility */
    color: rgb(247, 12, 12);
    border-radius: 50%;
    padding: 50px;
    font-size: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  font-weight: 800;
    z-index: 10; /* Ensure it is on top of other elements */
  }
  
  .lock-icon i {
    margin: 0;
  }

  
  .gallery-item {
    position: relative;
  }
  
  
  .download-btn {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #007aff; 
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
  
  .download-btn:hover {
    background-color: #0056b3; /* Darker shade for hover */
    text-decoration: none;
  }